{% load static %}
<a href="{% url 'public_profile' volunteer.pk %}" class="text-decoration-none text-dark d-block h-100">
    <div class="board-of-honor-card">
        
        <div class="small-glowing-border
            {% if volunteer.role == 'president' %}president
            {% elif volunteer.role == 'leader' and volunteer.is_active_volunteer_title %}leader-active
            {% elif volunteer.role == 'leader' %}leader
            {% elif volunteer.school_leader_of.exists %}school
            {% elif volunteer.is_active_volunteer_title %}active{% endif %}">
            
            {% if volunteer.photo and volunteer.photo.url %}
                <img src="{{ volunteer.photo.url }}" alt="Фото {{ volunteer.get_full_name }}">
            {% else %}
                {% if volunteer.gender == 'F' %}
                    <img src="{% static 'img/female_avatar.png' %}" alt="Аватар">
                {% else %}
                    <img src="{% static 'img/male_avatar.png' %}" alt="Аватар">
                {% endif %}
            {% endif %}
        </div>
        
        <h6 class="card-title fw-bold mt-3">{{ volunteer.first_name }} {{ volunteer.last_name }}</h6>
        
        <p class="card-text small mb-0 
            {% if volunteer.role == 'president' %}status-text status-president
            {% elif volunteer.role == 'leader' %}status-text status-leader
            {% elif volunteer.school_leader_of.exists %}status-text status-school
            {% else %}text-muted{% endif %}">
            {% if volunteer.role == 'leader' and volunteer.led_direction %}
                Руководитель "{{ volunteer.led_direction.name }}"
            {% else %}
                {{ volunteer.get_role_display_custom }}
            {% endif %}
        </p>
    </div>
</a>